.cart-holder{
  width: 100px;
  height: 38px;
  text-align: center;
  padding-top: 5px;
  position: relative;
}

#lblCartCount {
  font-size: 15px;
  background: #ff0000;
  color: #fff;
  padding: 2px 5px;
  vertical-align: top;
  margin-left: -5px;
  margin-top:-5px;
}
.badge {
  padding-left: 15px;
  padding-right: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

.label-warning[href],
.badge-warning[href] {
  background-color: #c67605;
}
