<div class="container card">
  <form class="login-page" [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="form-floating mb-3" >
      <input type="text" class="form-control" formControlName="username" id="username" placeholder="username">
      <label for="username">Username</label>
    </div>
    <div class="form-floating mb-3" >
      <input type="password" class="form-control" formControlName="password" id="password" placeholder="password">
      <label for="password">Password</label>
    </div>
    <div class="d-flex justify-content-end">

      <button type="submit" class="btn btn-success">Log in</button>

    </div>
  </form>
  <footer class="mt-auto d-flex justify-content-end">
    <img src="assets/img/logo1text.png" id="logo-text">
  </footer>
</div>
