<div class="login-page">
  <div>

    <form class="custom-form shadow" [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="form-outline mb-4">
        <input type="text" id="username" formControlName="username" class="form-control"/>
        <label class="form-label" for="username">Username</label>
      </div>
      <div class="form-outline mb-4">
        <input type="password" id="password" formControlName="password" class="form-control"/>
        <label class="form-label" for="password">Password</label>
      </div>
      <button type="submit" class="btn btn-color btn-block">Log in</button>
    </form>
    <span class="disclaimer"><small>Contact the clinic for providing credentials at <a href="tel:+38978726553">+38978726553</a></small></span>
  </div>

</div>
