<div class="eventDetails">
  <div class="card mx-auto mt-4 p-4">
    <div class="row">
      <div class="card-body col ">
        <div class="row">
          <div class="col">
            <div class="row">
              <div class="col-4"><i class="fas fa-clock fa-3x d-inline-block mx-2"></i></div>
              <div class="col" style="font-size: 18px">
                {{musicEvent.eventTime | customDate}} <br/>
                {{musicEvent.eventTime | date: 'shortTime'}}
              </div>
            </div>
          </div>
          <div class="col-9" id="eventTitle">
            <div class="row">
              <h3>{{musicEvent.musicEventName}}</h3>
            </div>
          </div>
          <div class="col" id="ticketPrice">
            <span *ngIf="musicEvent.ticketPrice.currency==='EUR'">&euro;</span>
            {{musicEvent.ticketPrice.amount}}
            <span *ngIf="musicEvent.ticketPrice.currency==='MKD'">Ден.</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container mx-auto details-card">
    <div class="row musicPerformers">
      <div class="col-3">
        <img src="assets/img/musicPeformer.png"/>
      </div>
      <div class="col">
        <ul>
          <li class="row" *ngFor="let mp of musicEvent.musicPerformerList">
          <span>
            <i class="fas fa-dot-circle fa-xs d-inline-block mx-2"></i>
            {{mp.performerName}} - {{mp.country}}<span class="text-center"><b>{{mp.genre}}</b></span>
          </span>
          </li>
        </ul>
      </div>
    </div>
    <div class="row venue">
      <div class="col-3">
        <img src="assets/img/venue.png"/>
      </div>
      <div class="col">
        <div class="row">
          <div class="col mx-1">
          <span>
            <i class="fas fa-users fa-2x d-inline-block mx-2"></i> Capacity: {{musicEvent.venue.maxAllowedNumberOfVisitors}}
          </span>
            <span>
            <i class="fas fa-search-location fa-2x d-inline-block mx-2"></i> Location type: {{musicEvent.venue.locationType}}
          </span>
          </div>
          <div class="col">
          <span>
            <i class="fas fa-city fa-2x d-inline-block mx-2"></i> {{musicEvent.venue.location.city}}, {{musicEvent.venue.location.country}}
          </span>
            <span>
            <i class="fas fa-road fa-2x d-inline-block mx-2"></i> {{musicEvent.venue.location.locationAddress}}
          </span>
          </div>
        </div>
      </div>
    </div>
    <div class="row description">
      <div class="col-3">
        <img src="assets/img/info.jpg"/>
      </div>
    </div>
  </div>
  <div class="fill-gap"></div>

</div>
