.details-card{
  margin-top:20px;
  background-color: white;
  width: 1036px;
  padding: 10px;
  margin-bottom: 50px;
  border:2px solid #9c67a4;
  border-bottom:10px solid hotpink;
  color: white;
  background-image: url('../../../assets/img/card-background.jpg');
  background-size: cover;
}

.wrapper{
  padding: 20%;
  display: flex;

}

.divider{
  height: 20px;
  background-color: black;
  margin-bottom: 50px;
}

#logo-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card,.details-card{
  border-radius: 6px;
}

.card{

  background-image: url('../../../assets/img/card-background.jpg');
  background-size: cover;
  margin: 0 0 20px 0;
  width: 1036px;
  height: 150px;
  border:2px solid #9c67a4;
  font-family: monospace;
  color: white;
}

.card-header{
  padding: 20px;
}

.card>.row{
  height:150px;
}

.card-body{
  height: 100px;
}

#eventTitle{
  position: relative;
  border-left: 1px solid white;
  padding-left: 30px;
}

#eventTitle div:nth-child(2){
  position: absolute;
  bottom: 50px;
  right: 350px;
  width: 200px;
}
div div.container{
  position: relative;
  margin-bottom: 10px;
}
.deleteBtn{
  width: 300px;
}

#editBtn{
  border-radius: 5px;
  background-color: rgba(50, 27, 89, 0.5);
}

#ticketPrice{
  color: white;
  font-size: 28px;
  font-weight: bold;
  height: 146px;
  width: 200px;
  padding: 0 30px;
  background: rgb(113, 61, 122);
  background: linear-gradient(90deg, rgb(69, 12, 107) 0%, rgb(76, 47, 79) 50%, rgb(43, 43, 43) 100%);
  position: absolute;
  top:0px;
  right:0;
  border-radius: 1px;
  border: 10px solid rgba(255, 255, 255, 0.28);
}

.venue img, .musicPerformers img{
  width: 150px;
}

.musicPerformers img{
  filter: invert(1);
}

.description img{
  width: 100px;
}

.details-card .row:nth-child(2), .details-card .row:nth-child(3){
  border-top: 1px solid rgba(156, 103, 164, 0.24);
}

.details-card .row{
  margin: 10px;
  padding-top:10px;
}

.musicPerformers{
  font-size: 20px;
  font-family: 'Verdana', sans-serif;
}

.row b{
  color: #ffffff;
  font-family: 'Verdana', sans-serif;
  text-decoration: underline;
}


li span{
  padding-left: 20px;
  display: inline;
}

.venue span{
  display: block;
  margin-top: 10px;
  font-size: 18px;
  font-family: 'Verdana', sans-serif;
}

#ticketPrice>span{
  display: inline-block;
  width: 100%;
  text-align: center;
  margin: auto;
  position: relative;
  top:40px;
}
/*
.eventDetails{
  background-image: url("../../../assets/img/siteBgGreen.png");
  background-repeat: repeat;
  background-size: 300px;
  background-attachment: scroll;
  padding-top:50px;
}*/
