<div class="eventDetails mt-5">
  <div *ngIf="isLoggedIn" id="editBtn" class="mt-2 w-50 p-4 text-center container">
    <a href="manage-event/{{musicEvent.id.id}}" class="editBtn w-50 btn btn-warning"
       *ngIf="musicEvent.sales<=musicEvent.venue.maxAllowedNumberOfVisitors * 0.3">
      Edit
      <i class="fas fa-edit"></i>
    </a>
    <div class="w-100 mt-4 badge bg-light text-muted" *ngIf="musicEvent.sales>musicEvent.venue.maxAllowedNumberOfVisitors * 0.3">
      SOLD OUT
    </div>
    <button (click)="deleteEvent(musicEvent.id.id)" class="deleteBtn ms-5 btn btn-danger">
      Delete
      <i class="fas fa-trash"></i>
    </button>
  </div>
  <div class="card mx-auto mt-0 p-4 w-50 bg-light">
    <div class="row">
      <div class="card-body col ps-4">
        <div class="row">
          <div class="row">
            <h3>{{musicEvent.musicEventName}}</h3>
          </div>
          <div class="row w-75" style="position: relative">
            <span class="p-1" style="position: absolute;top:30px;font-family: monospace"> <i
              class="fas fa-clock d-inline-block mx-2"></i>
              {{musicEvent.eventTime | customDate}}
              {{musicEvent.eventTime | date: 'shortTime'}}
            </span>
          </div>
          <div class="col p-0" id="ticketPrice">
            <span class="text-center">
              <span *ngIf="musicEvent.ticketPrice.currency==='EUR'">&euro;</span>
                {{musicEvent.ticketPrice.amount}}
              <span *ngIf="musicEvent.ticketPrice.currency==='MKD'">Ден.</span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container mx-auto details-card w-50 bg-light">
    <div class="row musicPerformers">
      <div class="col-3">
        <img src="assets/img/musicPeformer.png"/>
      </div>
      <div class="col">
        <ul class="p-0">
          <li class="row" *ngFor="let mp of musicEvent.musicPerformerList">
          <span>
            <i class="fas fa-microphone-alt fa-xs d-inline-block me-2"></i>
            {{mp.performerName}}<span class="small"> ({{mp.country}})</span>&nbsp;&nbsp; <span
            class="badge bg-danger p-2"><b>{{mp.genre}}</b></span>
          </span>
          </li>
        </ul>
      </div>
    </div>
    <div class="row venue">
      <div class="col-3">
        <img src="assets/img/venue.png"/>
      </div>
      <div class="col">
        <div class="row p-0">

          <div class="col mx-1">
            <span>
            <i class="fas fa-road d-inline-block mx-2"></i> {{musicEvent.venue.location.locationAddress}}
          </span>
            <span>
            <i class="fas fa-city d-inline-block mx-2"></i> {{musicEvent.venue.location.city}}, {{musicEvent.venue.location.country}}
          </span>

          </div>
          <div class="col">
          <span>
            <i class="fas fa-users d-inline-block mx-2"></i> Capacity: {{musicEvent.venue.maxAllowedNumberOfVisitors}}
          </span>
            <span>
            <i class="fas fa-search-location d-inline-block mx-2"></i> Location type: {{musicEvent.venue.locationType | lowercase}}
          </span>
          </div>
        </div>
      </div>
    </div>
    <div class="row description">
      <div *ngIf="!isLoggedIn" id="buyTicketsBtn" class="text-center">
        <button class="btn btn-outline-success text-light w-75"  (click)="addToCart(musicEvent);" [disabled]="inCart" ><!-- [routerLink]="['/buy-ticket']" [state]=event>-->
          <span *ngIf="inCart">Added to cart </span>
          <i class="fas fa-shopping-basket fa-2x "></i>
        </button>
      </div>

    </div>


  </div>

</div>
