.details-card{
  margin-top:20px;
  background-color: white;
  width: 1036px;
  padding: 10px;
  margin-bottom: 50px;
  border:2px solid #9c67a4;

}

.wrapper{
  padding: 20%;
  display: flex;

}

.divider{
  height: 20px;
  background-color: black;
  margin-bottom: 50px;
}

#logo-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card,.details-card{
  border-radius: 6px;
}

.card{

  margin: 0 0 20px 0;
  width: 1036px;
  height: 150px;
  border:2px solid #9c67a4;
  font-family: monospace;

}

.card-header{
  padding: 20px;
}

.card>.row{
  height:150px;
}

.card-body{
  height: 100px;
}

#eventTitle{
  position: relative;
  border-left: 1px solid white;
  padding-left: 30px;
}

#eventTitle div:nth-child(2){
  position: absolute;
  bottom: 50px;
  right: 350px;
  width: 200px;
}
div div.container{
  position: relative;
  margin-bottom: 50px;
}

#ticketPrice{
  color: white;
  font-size: 28px;
  font-weight: bold;
  height: 146px;
  width: 200px;
  padding: 0 30px;
  background: rgb(4,108,59);
  background: linear-gradient(90deg, rgba(4,108,59,1) 0%, rgba(29,191,151,1) 50%, rgba(9,121,69,1) 100%);
  position: absolute;
  top:0px;
  right:0;
  border-radius: 1px;
  border-left: 5px dashed black;
}

.venue img, .musicPerformers img{
  width: 150px;
  opacity: 0.2;
}

.description img{
  width: 100px;
  opacity: 0.2;
}

.details-card .row:nth-child(2), .details-card .row:nth-child(3){
  border-top: 1px solid rgba(156, 103, 164, 0.24);
}

.details-card .row{
  margin: 10px;
  padding-top:10px;
}

.musicPerformers{
  font-size: 20px;
  color: #0d374e;
  font-family: 'Droid serif', serif;
}

.row b{
  color: #ffffff;
  font-family: 'Righteous', cursive;
  text-decoration: underline;
}


li span{
  padding-left: 20px;
  display: inline;
}

.venue span{
  display: block;
  margin-top: 10px;
  color: #0d4e3c;
  font-size: 18px;
  font-family: 'Droid serif', serif;
}

#ticketPrice>span{
  display: inline-block;
  margin: 10px auto auto;
  position: relative;
  top:15px;
}
/*
.eventDetails{
  background-image: url("../../../assets/img/siteBgGreen.png");
  background-repeat: repeat;
  background-size: 300px;
  background-attachment: scroll;
  padding-top:50px;
}*/
