.wrapper{
  padding: 20%;
  display: flex;

}

.logo-container{
  position: relative;
}

.logo-container img:first-child{
  width: 80%;
  margin-bottom: 50px;
}

#logo-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card{
  margin-bottom: 20px;
  width: 1036px;
  height: 200px;
  background-image: url('../../../assets/img/card-background.jpg');
  background-size: cover;
}

.card-header{
  background-color: #76323f;
  color:white;
  padding: 20px;
}

.card-body{
  color: white;
  width: 70%;
  background-color: #76323f;
  opacity: 80%;
}

.card>.row{
  height:180px;
}

#eventDetailsBtn .btn{
  height: 50px;
  width: 150px;
}

#buyTicketsBtn .btn{
  height: 100px;
  width: 150px;
  line-height: 40px;
  font-size: 20px;
}

#eventTitle{
  position: relative;
  height: 120px;
}

#eventTitle div:nth-child(2){
  position: absolute;
  bottom: -30px;
  right: 350px;
  width: 200px;
}
div div.container{
  position: relative;
}
#eventGenre{
  position: absolute;
  width: 100px;
  height: 30px;
  line-height: 20px;
  left: 50px;
  top: 20px;
}

div ul{
  font-size: 12px;
}
ul.list-group:after {
  clear: both;
  display: block;
  content: "";
}

li{
  border: 0 !important;
}
