.wrapper{
  padding: 20%;
  display: flex;

}

.logo-container{
  position: relative;
  border-top: 1px solid white;
  background: rgb(2,0,36);
  background: linear-gradient(281deg, rgba(2,0,36,1) 0%, rgba(105,9,121,1) 46%, rgba(131,8,56,1) 73%, rgba(102,32,32,1) 100%);
  height: 210px;
}

/*.logo-container img:first-child{*/
/*  height:210px;*/
/*  opacity: 50%;*/
/*}*/

.divider{
  height: 20px;
  background-color: purple;
  margin-bottom: 50px;
}

#logo-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card{
  margin-bottom: 20px;
  width: 1036px;
  height: 200px;
  background-image: url('../../../assets/img/card-background.jpg');
  background-size: cover;
}

.card-header{
  background-color: #76323f;
  color:white;
  padding: 20px;
}

.card-body{
  color: white;
  width: 70%;
  background-color: #76323f;
  opacity: 80%;
}

.card>.row{
  height:180px;
}

#eventDetailsBtn .btn{
  height: 50px;
  width: 150px;
}

#buyTicketsBtn .btn{
  height: 100px;
  width: 150px;
  line-height: 40px;
  font-size: 20px;
}

#eventTitle{
  position: relative;
  height: 120px;
  border-left: 1px solid white;
  padding-left: 30px;
}

#eventTitle div:nth-child(2){
  position: absolute;
  bottom: -30px;
  right: 350px;
  width: 200px;
}
div div.container{
  position: relative;
  height: 200px;
  margin-bottom: 50px;
}
#eventGenre{
  position: absolute;
  width: 100px;
  height: 30px;
  line-height: 20px;
  left: 50px;
  top: 20px;
}

div ul{
  font-size: 12px;
}
ul.list-group:after {
  clear: both;
  display: block;
  content: "";
}

li{
  border: 1px solid black;
  display: inline-block;
  margin-right: 2px;
}

.sold-out{
  position:absolute;
  top:-220px;
  left:0px;
  z-index: 10;
  width: 1040px;
  height: 200px;
  background-color: black;
  opacity: 50%;
}

#soldOutImg{
  width: 200px;
  position: absolute;
  left:970px;
  bottom:65px;
  top:-410px;
  z-index: 11;
}

#ticketPrice{
  color: #73b673;
  font-size: 28px;
  font-weight: bold;
  text-align: end;
  padding-right: 50px;
}

