<footer *ngIf="isLogin()==false" id="sticky-footer" class="mt-4 text-white-50">
  <div class="container text-center mx-auto">
    <h4>Visit Music</h4>
    <div class="my-4">
      <a href="/">
        Home |
      </a>
      <a href="/macedonia">
        Macedonia |
      </a>
      <a href="/world">
        World |
      </a>
      <a href="/shopping-cart">
        Shopping Cart
      </a>
    </div>
    <span class="col-1 d-inline-block mb-2">
      <i class="fab fa-facebook text-primary d-inline-block me-2 fa-2x"></i>
      <i class="fab fa-instagram text-danger fa-2x"></i>
    </span>
  </div>
  <div class="container text-center">
    <small>FCSE &copy; Visit Music</small>
  </div>
</footer>

